body {
    font-family: Arial;
    background: hsl(183, 75%, 75%);
    text-align: center;
}

.container {
    margin-top: 80px;
}

button {
    padding: 12px 25px;
    margin: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

.form input {
    width: 250px;
    padding: 10px;
    margin: 6px;
    border-radius: 5px;
    border: 1px solid gray;
}

table {
    width: 80%;
    margin: auto;
    background: hsl(30, 67%, 99%);
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid gray;
}

 td {
    padding: 10px;
    background-color: hwb(36 87% 11%); 
     
}
th {
    padding: 12px;
    background-color: hsl(28, 71%, 71%);
    color: black;
}
